*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(197, 212, 60);
    overflow-x: hidden;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

nav ul {
    padding: 20px 0 20px 0;
}

nav ul li {
    padding-left: 50px;
    padding-right: 50px;
}

#logo {
    width: 350px;
    height: 150px;
    border: dashed 3px rgb(166, 179, 57);
}

.nota {
    display: block;
    margin: auto;
}

.logotipo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.div {
    padding-bottom: 300px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

.div-cv {
    padding-bottom: 300px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

.div-1 {
    padding-bottom: 200px;
    font-family: 'Poppins', sans-serif;
}

.div--div {
    min-height: 700px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

button {
    padding: 0 5px 0 5px;
    background-color: rgb(197, 212, 60);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover {
    background-color: rgba(218, 238, 34, 0.8);
}

.titule {
    font-size: 4rem;
    color: #000000;
    font-weight: 600;
    text-align: center;
    padding-top: 250px;
}

.secTitule {
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
    padding-top: 250px;
}

.bg-color-nav {
    background-color: white;
}

.bg-lol {
    background-color: #f4f5f6;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer {
  background: #1E1E24;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

.redsocial {
	text-decoration: none;
}

.main1 {
    background-color: black;
}

.main2 {
    background-color: rgb(96, 231, 84);
}

.and {
    color: white;
    text-align: center;
    font-size: 90px;
    background-color: rgb(0, 0, 0);
    margin: 40px 0px 50px 0px;
}

.titl {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 65px;
    padding-top: 150px;
    font-weight: 600;
    padding-bottom: 100px;
}

.div-an {
    min-height: 700px;
    background-color: palegoldenrod;
    font-family: 'Poppins', sans-serif;
}

.div-tam {
    padding-bottom: 200px;
    background-color: palegoldenrod;
    font-family: 'Poppins', sans-serif;
}

.titl--2 {
    text-align: center;
    color: rgb(46, 42, 42);
    font-size: 40px;
}

.titl--3 {
    text-align: center;
    color: rgb(46, 42, 42);
    font-size: 40px;
    padding-top: 85px;
}

.title--2 {
    text-align: center;
    color: rgb(46, 42, 42);
    font-size: 40px;
    margin-top: 90px;
}

.titule--2 {
    text-align: center;
    color: rgb(46, 42, 42);
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#local {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 black;
}

.bg-wai {
    background-image: linear-gradient(40deg, #c9d1dc 0, #c9ced9 5.56%, #c9cbd5 11.11%, #c8c8cf 16.67%, #c5c4c9 22.22%, #c1c0c2 27.78%, #bbbcbb 33.33%, #b3b7b3 38.89%, #aab2ab 44.44%, #9eada4 50%, #91a89e 55.56%, #85a39a 61.11%, #7a9f98 66.67%, #6f9b97 72.22%, #659798 77.78%, #5c9499 83.33%, #56919b 88.89%, #528f9e 94.44%, #518da0 100%);
}

.bg-lel {
    background-image: linear-gradient(180deg, #ffec80 0, #fbe56d 16.67%, #e4dd5b 33.33%, #cad447 50%, #afcc34 66.67%, #92c423 83.33%, #74bd15 100%);
}

.bg-pl {
    background-color: palegoldenrod;
}

.diav {
    background-image: radial-gradient(circle at 23.29% 68.7%, #002f3a 0, #002a31 8.33%, #012529 16.67%, #061f20 25%, #061817 33.33%, #030f0e 41.67%, #000000 50%, #000000 58.33%, #000000 66.67%, #000000 75%, #000000 83.33%, #000000 91.67%, #000000 100%);
    padding-bottom: 25px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

.wave-l {
    padding-bottom: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-toggler {
    border: none;
    margin: 0 auto;
    display: block;
    padding: 20px 20px 20px 20px;
}

.nav-item {
    text-align: center;
}

.socimed {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
}

.linkeaso {
    text-decoration: none;
    color: olive;
}

.linkeaso:hover {
    color: orchid;
    transition: .3s;
}

.pizzerveza--1 {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.pizzerveza--2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.pizzerveza--1:hover {
    color: rgb(255, 255, 255);
    transition: .5s;
}

.pizzerveza--2:hover {
    color: rgb(0, 0, 0);
    transition: .5s;
}

.bg-calid {
    background-color: palegreen;
}

.contactanos {
    color: chartreuse;
    text-align: center;
    box-shadow: 0 2px 5px 0 black;
    border: none;
}

.contac {
    color: black;
    padding: 20px 0 20px 0;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.camb {
    background-image: radial-gradient(circle at 50% -20.71%, #003549 0, #003342 6.25%, #002f3a 12.5%, #002a32 18.75%, #012529 25%, #061f20 31.25%, #061817 37.5%, #030f0e 43.75%, #000000 50%, #000000 56.25%, #000000 62.5%, #000000 68.75%, #000000 75%, #000000 81.25%, #000000 87.5%, #000000 93.75%, #000000 100%);
}

.spann {
    padding: 50px 0 50px 0;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.flech-icon {
    background-color: rgb(0, 0, 0);
    transform: rotate(45);
    border: none;
    box-shadow: 0px 0px 3px 3px white;
    border-radius: 5px;
    display: inline-block;
    transform: rotate(-270deg);
    margin: 50px 0 250px 0;
}

.flechaa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flech-icon:hover {
    background-color: blue;
    transition: 2s;
}

.nav-linkaso:hover {
    border-bottom: rgb(166, 179, 57) solid;
    transition: .2s;
}